#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

[mysqld]
innodb_buffer_pool_size = 4500M
innodb_flush_method = O_DIRECT
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2
query_cache_size = 64M
max_connection = 1024
table_cache = 30000


!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/